.container{
    width: 429px;
    background-color: var(--negro);
    border-radius: 15px 15px 0px 0px;
    border: 5px solid var(--FrontEnd, #6BD1FF);
    display: flex;
    flex-direction: column;
}

.capa {
    height: 250px;
    border: 5px solid var(--FrontEnd, #6BD1FF);
}

.card__icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.card__edit{
    display: flex;
    align-items: center;
}

.card__delete{
    display: flex;
    align-items: center;

}

.editar{
    width: 70%;
    height: 70%;
    
    
}

.eliminar{
    width: 70%;
    height: 70%;
}

.container h2{
    color: var(--blanco);
}