.pie {
    background-color: var(--negro);
    display: flex;
    align-items: center;
    justify-content: center;
   
    bottom: 0;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.pie h2 {
    color: var(--blanco);
    font-size: 15px;
}

.pie img {
    padding: 10px;
}